@model List<PostViewModel>


<div class="create-company">
    <a href="./Create">Create Company +</a>
</div>
<div class="cards">
@for(var i =0;  i < Model.Count(); i++)
{
    var post = Model[i];
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 card">
        <div class="card">
            <img class="card-img-top" src=@post.Image alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">@post.Name</h4>
                <div>
                    <a href="./article/@post.Id" class="card-direct">
                        Batafsil ma'lumot
                    </a>
                </div>
            </div>
        </div>
    </div>
}


</div>

<style>
   .cards{
        margin-top: 100px;
        display: flex;
gap: 30px;
justify-content: space-between;
flex-wrap: wrap;
@* position: relative; *@
    }
    .card{
        width: 320px;
        transition-property: box-shadow;
        transition-duration: 0.5s;
    }
    .btn{
        @* position: absolute; *@
    display: flex;
    justify-content:flex-end;
    }
    .card-img-top{
        height: 350px;
    }
    .card-direct{
        text-decoration: none;

    }
    .card:hover{
        box-shadow: 4px 4px 4px 2px blue;
        width: 330px;
        
        
    }
    .create-company{
      display: flex;
      justify-content: flex-end;

    }
    .create-company>a{
        background-color: blue;
        text-align: center;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        color: white;
        width: 150px;
        border-radius: 10px;
    }
</style>