@model List<JobViewModel>

<section>
    <section class="work-showcase">
        <h1 class="work-show-title" >
            work showcase
        </h1>
<ul class="work-show-jobs">
    <li>
        <a href="./getjobs" >all</a>
    </li>
 <li>
        <a href="" class="active">branding</a>
    </li>
     <li>
        <a href="./illustration" >illustration</a>
    </li>
     <li>
        <a href="./web" >web</a>
    </li>
</ul>
<div class="cards">

@for(var i = 0;  i < Model.Count(); i++)
{
    var post = Model[i];
    <div class=" mb-4">
        <div class="card">
            <img class="card-img-top"  src=@post.Image alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">@post.Name</h4>
                <div>
                    <a href="./article/@post.Id" class="card-direct">
                        Batafsil ma'lumot
                    </a>
                </div>
            </div>

        </div>
    </div>
}


<style>

    
    .cards{
        margin-top: 100px;
        display: flex;
gap: 25px;
flex-wrap: wrap;
justify-content: space-evenly;
    }
    .btn{
    display: flex;
    justify-content:flex-end;
    }
    .btn>a{
        padding: 10px 20px;
        background-color: blue;
        color: #fff;
        border:none;
        border-radius: 6px;
        text-decoration: none;
    }
    .work-show-jobs{
        margin-top:40px;
        display: flex;
padding: 0; 
gap: 40px;      
        list-style: none;
    }
    .work-show-jobs>li>a{
        font-size: 19px;
        color: black;
        font-weight: 600;
        text-decoration: none;
        padding: 5px 20px;
        border-radius: 6px;
        text-transform: capitalize;
    }
    .active{
        background-color: yellow;
    }
    .work-show-title{
        text-transform: uppercase;
        margin-top: 40px;
    }
    .card-direct{
        text-decoration: none;
    }
    .card-img-top{
        width: 280px;
        height: 280px;
    }
</style>